.wrapper {
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 16px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include user-select(none);
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

.container > * {
    padding: 24px;
}

.container--title {
    position: relative;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 2;
}

.container--title {
    color: red;
}

.container--tools .container--title {
    color: #9b9b9b;
}

.color-var {
    @include transition (color 0.3s ease, color 0.3s ease);
}

.color-var.dark {
    color: rgba(0, 0, 0, .4);
}

.color-var.light {
    color: rgba(255, 255, 255, .4);
}

@media (min-width: 721px) {

    .container {
        max-width: 920px;
        min-height: 360px;
        @include display-flex;
        @include flex-direction(row-reverse);
        @include flex-wrap(wrap);
    }

    .container--display {
        float: right;
        width: 60.3261%;
        position: relative;
    }

    .container--tools {
        float: left;
        background-color: #fff;
        width: 39.6739%;
    }

}

@media (max-width: 720px) {

    .container {
        max-width: 555px;
    }

    .container--display {
        height: 50vw;
    }

}