.container--typeface {
    margin: 0 -8px;
}

.container--typeface-itm {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #ededed;
    background-color: #ededed;
    margin: 8px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    text-align: center;
    @include transition (all 0.3s ease);
}

.container--typeface-itm:hover {
    @include opacity(.8) 
}

.container--typeface-itm:active {
    @include opacity(1);
    background-color: #000;
    border-color: #000;
    color: #fff; 
}

.container--typeface-itm.active {
    border-color: #000;
}