
.brands-list {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.brands-list li {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

.brands-list a,
.brands-list a:visited {
    display: block;
    width: 200px;
    height: 122px;
    background-color: #fff;
    border: 2px solid #fff;
    .transition (@transition-property: border-color);
}

.no-mobile .brands-list a:hover,
.mobile .brands-list a:active {
    border-color: #2254A0;
}

@media (max-width: 640px) {

    .brands-list a {
        width: 152px;
        height: 93px;
    }

}