.brands {
    font-size: 0;
    line-height: 0;
    text-align: center;
    margin: 0 0 50px;
    padding: 50px 0 0;
}

.brands-title {
    display: inline-block;
    position: relative;
    height: 62px;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #2254A0;
    margin: 0 0 40px 67px;
}

.brands-title:before {
    position: absolute;
    display: block;
    content: '';
    top: -1px;
    left: -68px;
    width: 62px;
    height: 62px;
    background-color: transparent;
    background-image: url('../images/icon-brands.svg"');
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.brands-title.itm-1:before {
    background-position-y: 0;
}

.brands-title.itm-2:before {
    background-position-y: -101px;
}

.brands-title.itm-3:before {
    background-position-y: -204px;
}

.brands-title.itm-4 {
    margin-left: 99px; 
}

.brands-title.itm-4:before {
    background-position-y: -306px;
    width: 94px;
    left: -99px;
}

.brands-title.itm-5:before {
    background-position-y: -510px;
}

.brands-title.itm-6:before {
    background-position-y: -408px;
}

.brands-title > * {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #2254A0;
}

.brands-list {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.brands-list li {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

.brands-list a,
.brands-list a:visited {
    display: block;
    width: 200px;
    height: 122px;
    background-color: #fff;
    border: 2px solid #fff;
    .transition (@transition-property: border-color);
}

.no-mobile .brands-list a:hover,
.mobile .brands-list a:active {
    border-color: #2254A0;
}

.brands-descr {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #2254A0;
}

@media (max-width: 640px) {

    .brands-title > * {
        font-size: 27px;
        line-height: 30px;
    }
    
    .brands-list a {
        width: 152px;
        height: 93px;
    }

}