.menu {
    top: 0;
    left: 0;
    @extend %font-size-0;
    visibility: hidden;

    &-list {
        margin: 0;
        padding: 0;
    }

    &-item {
        margin: 0 0 0 3.333333%;
        visibility: visible;

        &--link {
            @at-root {
                a#{&},
                a#{&}:visited,
                a#{&}:focus,
                a#{&}:hover,
                a#{&}:active {
                    color: $gray-900;
                    fill: $gray-900;
                    cursor: pointer;
                    transition: color 0.4s ease 0s, fill 0.4s ease 0s,
                        opacity 0.4s ease 0s;

                    .header.transparent &,
                    .header.blue & {
                        color: $white;
                        fill: $white;
                    }

                    .header.dark & {
                        color: $gray-900;
                        fill: $gray-900;
                    }
                }

                a#{&}:hover,
                a#{&}:active {
                    opacity: 0.7;
                }
            }
        }

        &--icon {
            width: 20px;
            height: 20px;
            margin: 0 12px 0 0;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: auto !important;
            }
        }

        &--title {
            font-size: 15px;
            line-height: 1;
            font-weight: $font-weight-medium;
            text-transform: uppercase;
        }
    }
}
