<div
    class="landing-item landing-foundation w-100 position-relative"
    v-landing-scroll
    data-color="landing-foundation-color"
>
  <div class="container">
    <div class="foundation d-flex flex-wrap position-relative">
      <div class="foundation-content order-2 order-xl-1">
          <h2 class="landing-header d-flex align-items-center justify-content-center flex-grow-0 flex-shrink-0 w-100">
            <div class="landing-header-wrapper">
                <span>Edipresse Media Ukraine</span>- благодійний фонд
            </div>
          </h2>
          <div class="foundation-content--text">
              <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер.</p>
              <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер.</p>
          </div>
          <div class="foundation-content--action d-flex justify-content-center">
              <button class="btn btn-white" href="#">
                <div>Допомогти</div>
                <div class="btn-icon">
                    ${require('svg/inline/button-arrow-right.svg')}
                </div>
              </button>
          </div>
      </div>
      <div class="foundation-media d-flex justify-content-center order-1 order-xl-2">
          <div class="foundation-media--img position-relative">
            <img class="position-absolute w-100" src="~img/for-markup/430x572.png" alt="">
            <div class="foundation-media--img-back position-absolute w-100 h-100">
                <img class="position-absolute w-100" src="~img/for-markup/430x572.png" alt="">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>