<div
  class="landing-item landing-start position-relative"
  v-landing-scroll
  data-color="landing-start-color"
>
  <div class="landing-start--media position-relative">
      <img src="~img/landing-start.jpg" alt="" />
  </div>
  <div class="landing-start--main">
      <div class="container h-100 d-flex align-items-center">
        <div class="landing-start--content">
          <div class="landing-start--logo position-relative">
              ${require('svg/inline/edipresse-logo-footer.svg')}
          </div>
          <div class="landing-start--description">
            <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний.</p>
          </div>
        </div>
      </div>
  </div>
</div>